button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  justify-items: center;
}

/* input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
} */

body {
  margin: 1em;
  background-image: url('https://source.unsplash.com/1600x900/?landscape');
}

.container {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "search-bar-container search-bar-container button"
    "location location time"
    "weather-icon temp other"
    "day-one day-one day-one"
    "day-two day-two day-two"
    "day-three day-three day-three"
    "day-four day-four day-four";
  background: #000000d0;
  color: white;
  border-radius: 20px;
  font-family: 'Comfortaa', cursive;
  align-items: center;
  justify-items: center;

}

.search-bar-container {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "search-bar"; 
  grid-area: search-bar-container; 
  border: none;
  outline: none;
  padding: 0.4em 1em;
}
.search-bar { grid-area: search-bar; 
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 105%;}

.button { grid-area: button; }

.location { grid-area: location; }

.time { grid-area: time; }

.weather-icon { 
  grid-area: weather-icon; 
}

.temp { grid-area: temp; }

.other {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "high low"
    "feels-like feels-like";
  grid-area: other;
}

.high { grid-area: high; }

.low { grid-area: low; }

.feels-like { grid-area: feels-like; }

.day-one {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "day-one-name day-one-icons day-one-other";
  grid-area: day-one;
}

.day-one-name { grid-area: day-one-name; }

.day-one-icons { grid-area: day-one-icons; }

.day-one-other {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "day-one-high day-one-low";
  grid-area: day-one-other;
}

.day-one-high { grid-area: day-one-high; }

.day-one-low { grid-area: day-one-low; }

.day-three {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "day-three-name day-three-icons day-three-other";
  grid-area: day-three;
}

.day-three-name { grid-area: day-three-name; }

.day-three-icons { grid-area: day-three-icons; }

.day-three-other {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "day-three-high day-three-low";
  grid-area: day-three-other;
}

.day-three-high { grid-area: day-three-high; }

.day-three-low { grid-area: day-three-low; }

.day-four {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "day-four-name day-four-icons day-four-other";
  grid-area: day-four;
}

.day-four-name { grid-area: day-four-name; }

.day-four-icons { grid-area: day-four-icons; }

.day-four-other {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "day-four-high day-four-low";
  grid-area: day-four-other;
}

.day-four-high { grid-area: day-four-high; }

.day-four-low { grid-area: day-four-low; }

.day-two { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "day-two-name day-two-icons day-two-other";
  grid-area: day-two;
}

.day-two-name { grid-area: day-two-name; }

.day-two-icons { grid-area: day-two-icons; }

.day-two-other {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "day-two-high day-two-low";
  grid-area: day-two-other;
}

.day-two-high { grid-area: day-two-high; }

.day-two-low { grid-area: day-two-low; }
